<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>XLS List</title>
    </head>

    <body>
    {% block content %}
        <table>
            <tr>
                <th>PK</th>
                <th>Name</th>
{#                <th>Price</th>#}
{#                <th>Category</th>#}
            </tr>
            {% for product in all_xls_uploads %}
                <tr>
                    <td>{{ product.pk }}</td>
                    <td>
{#                        <a href="{% url 'product_details' pk=product.pk %}">#}
                            {{ product.uploaded_file }}
{#                        </a>#}
                    </td>
{#                    <td>{{ product.price }}</td>#}
{#                    <td>{{ product.category.name }}</td>#}
                </tr>
            {% endfor %}
        </table>
        <a href="{% url 'xls_upload' %}">Upload new file</a>
{#        <a href="{% url 'category_add' %}">Add category</a>#}
    {% endblock %}
    </body>

</html>
