<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>XLS Add</title>
    </head>

    <body>
        <form action="" method="post" enctype="multipart/form-data"> {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Create" />
        </form>
    </body>
</html>
